# Firebase Configuration
VITE_FIREBASE_API_KEY="tu_api_key_de_firebase_aqui"
VITE_FIREBASE_AUTH_DOMAIN="tu_proyecto.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="web-multirubro"
VITE_FIREBASE_STORAGE_BUCKET="web-multirubro.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1026921238822"
VITE_FIREBASE_APP_ID="1:1026921238822:web:7f23715280a64e726c71e7"
